
*.__afs*
*simv.daidir
*simv
*.tcl*
*DVEfiles/
*csrc/
*inter.*
*ucli*
*__pycache__/
*synth/db/
*synth/greybox_tmp/
*synth/incremental_db/
*synth/output_files/
*synth/simulation/
*.bak
*.qws
*.pyc
*hw/ppu/init/
*hw/ppu/init-intel/
*hw/ppu/my_frame.txt