
*.__afs*
*simv.daidir
*simv
*.tcl*
*DVEfiles/
*csrc/
*ucli*
*__pycache__/
*hw/synth/db/
*hw/synth/greybox_tmp/
*hw/synth/incremental_db/
*hw/synth/output_files/
*hw/synth/simulation/
*.bak
*.qws
*.pyc
*hw/ppu/init/
*hw/ppu/init-intel/
*hw/ppu/my_frame.txt
*.vpd
